.App {
  position: relative;
  text-align: center;
  color: white;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.App-header {
  background-color: rgba(13, 17, 23, 0.01); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  z-index: 1;
}

.App-header .container {
  background: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border-radius: 15px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}