.transcript {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: #ff9900;
}

.response {
  position: relative;
  text-align: left;
  font-size: 16px;
  color: #0cc926;
  white-space: pre-wrap;
}