/* fading in the container with defined id = tsparticles*/
#tsparticles {
    animation: fadeIn 2s ease-in forwards; /* Adjust duration and easing */
}

@keyframes fadeIn {
    from { opacity: 1;}
    to { opacity: 1;}
}